<h2>New Celebrities</h2>

<form action="/celebrities/create" method="POST">
    <label for="name">Celebrity name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="occupation">Ocupation</label>
    <input id="occupation" name="occupation" type="text"></input>

    <label for="catchp">Catch Phrase</label>
    <input id="catchp" name="catchp" type="text"></input>
    <button type="submit">Create Celeb</button>
</form>