<h2>Update the movie</h2>

<form action="/movies/{{id}}/edit" method="POST">
    <label for="title">Movie name:</label>
    <input name="title" type="text"></input>

    <label for="genre">Genre</label>
    <input name="genre" type="text"></input>

    <label for="plot">Plot</label>
    <input name="plot" type="text"></input>

    <label for="cast">Cast</label>
    <select name="cast">
        {{#each allCelebrities}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <button type="submit">Edit movie</button>
</form>